/* GENERAL */
.root {
    -fx-font-family: "Segoe UI";
}

/* Split panels */
.citizen-pane {
    -fx-background-color: #37D36B;
}

.admin-pane {
    -fx-background-color: #82FF8A;
}

/* Titles and Subtitles */
.login-title {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-fill: #1B1B1B;
}

.login-subtitle {
    -fx-text-fill: #1B1B1B;
    -fx-font-size: 16px;
}

/* Cards */
.card {
    -fx-background-color: white;
    -fx-padding: 40 50;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 10, 0.2, 0, 4);
}

.card-dark {
    -fx-background-color: #111111;
    -fx-padding: 40 50;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 10, 0.3, 0, 4);
}

/* Inputs */
.input-field, .input-field-dark {
    -fx-pref-width: 300;
    -fx-pref-height: 40;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-padding: 5 10;
}

.input-field {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #CCCCCC;
}

.input-field-dark {
    -fx-background-color: #FFFFFF;
    -fx-border-color: transparent;
}

/* Buttons */
.sign-in-btn, .sign-in-btn-dark {
    -fx-pref-width: 300;
    -fx-pref-height: 40;
    -fx-background-radius: 8;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

/* Hover Effects */
.sign-in-btn:hover, .sign-in-btn-dark:hover {
    -fx-background-color: #00CC66;
}

/* Colors */
.sign-in-btn {
    -fx-background-color: #00994C;
    -fx-text-fill: white;
}

.sign-in-btn-dark {
    -fx-background-color: #00994C;
    -fx-text-fill: white;
}

/* Helper Text */
.helper-text {
    -fx-text-fill: white;
    -fx-font-size: 13px;
}

.helper-text-dark {
    -fx-text-fill: #333333;
    -fx-font-size: 13px;
}
